#gradient-background {
    z-index: 2;
    position: relative;
    background-color: #ffffff;
    background-image: radial-gradient(#ffffffff,
            #7a0f3327,
            #ffffffff,
            #7a0f3327);
    /* min-height: 100vh; Removed to fix excessive spacing on zoom out */
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}